@import url("../assets/css/bootstrap.css");
@import url("../assets/css/rtl.css");
@import url("../assets/css/site.min.css");
@import url("../assets/css/style.css");
@import url("../assets/css/theme.css");

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: rgb(221, 221, 221);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(3, 3, 3, 0.5);
  border-radius: 5px;
}

a.router-link-active.router-link-exact-active {
  color: #448bff;
}

.red-border {
  border-color: #f00 !important;
}

.red-text {
  color: #f00 !important;
}
.form-control[readonly] {
  cursor: default !important;
} 

.item-mail.text-muted.h-1x.d-none.d-sm-block {
  width: 180px;
}
button.ant-btn {
  margin-left: 10px;
}
.apexcharts-toolbar {
  position: absolute;
  z-index: 1 !important;
  max-width: 176px;
  text-align: right;
  border-radius: 3px;
  padding: 0 6px 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}